
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Plates For Cars - Europe's Leading Number Plate Supplier</title>
<meta name="Description" content="Europe's Leading Number Plate Supplier. Offering the best quality number plates on the market at the most competitive prices with a state of the art website and service.">
<meta name="keywords" content="platesforcars, plates for cars, number plates, replacement number plates, legal number plates, car number plates, number plates online, number plates made">
<meta name="robots" content="index,follow"> 

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<link rel="shortcut icon" href="img/icon.ico" />
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">

<script type="text/javascript" src="scripts/getclicky.js"></script> 
<script type="text/javascript" src="scripts/trustedshops.js"></script>
<script type="text/javascript" src="scripts/livechat.js"></script> 
<script type="text/javascript" src="scripts/include_pages.js"></script>
<script type="text/javascript" src="scripts/google_sitetag.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1048340832"></script>
<script type="text/javascript" src="scripts/google_sitetag.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1048340832"></script>

</head>
<body>
<table class="main_table" width="999" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="348" valign="top" bgcolor="#FFFFFF"><img src="img/top2020.jpg" alt="platesforcars" title="Number Plates - Top Photo" width="999" height="348" /></td>
  </tr>
  <tr>
    <td width="1001" height="70" bgcolor="#FFFFFF">
<div align="center" w3-include-html="include_pages/linkmenu.html"></div>
<script>
includeHTML();
</script>
</td>
</tr>
  <tr>
    <td background="img/mid.png" ><p align="center">    
      <table width="100%" border="0" cellpadding="3" cellspacing="6">
        <tr>
          <td width="47%" valign="top"><p><span class="heading1">Welcome to Plates for Cars</span><br />
              <span class="heading2">Europe's Leading Number Plate Supplier</span></p>
          <p class="maintext">We have been established within the number plate industry for over a decade and have become recognised as one of the most trusted and reputable number plate manufacturers.</p>
          <p class="maintext">We base our success on the promise to deliver the best quality at an affordable price with fantastic customer service. We believe in the highest quality manufacturing methods, and use the best materials and the latest printing and manufacturing methods. This results in a  unique and bespoke product that no other companies can offer. </p>
          <p><span class="maintext">Our goods are sourced within Europe rather than China so we can offer you the fastest delivery with all items in stock, and we can also ensure the quality is of the highest standards. We have built trusted relationships over the past decade with several large and reputable companies in the motor industry, who trust Plates for Cars to supply their number plates and products.</span></p>
          <p class="maintext">We supply number plates and number plate materials throughout the world but the majority are for a UK market. We also supply number plates to a number of European countries such as France, Ireland and Spain that also use acrylic and  metal number plates. </p>
          <p><span class="maintext">We would like to thank you for visiting PlatesforCars and for taking time out of your day to find out more about our brand. If you have any questions please do not hesitate to contact us.</span><br />
            <br />
          </p>
          <p><img src="img/aboutus_reviews_smaller.jpg" width="450" height="299" /></p>
          <p class="maintext">&nbsp;</p>
          <iframe style="border-radius: 25px;" width="450" height="300" src="https://www.youtube.com/embed/cO1fDmMS8Rs?rel=0&vq=hd1080" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <p><br />
            <br />
          <img src="img/motorway_testimonial.jpg" alt="platesforcars" width="450" height="450" />          </p></td>
          <td width="53%" valign="top"><table width="85%" border="0" align="center" cellpadding="0" cellspacing="10">
      <tr>
        <td height="270" align="center"><a href="designer.php?type=standardacrylic#numberplates"><img src="img/ourproducts/standard_acrylic_small.jpg" width="450" height="223" /></a></td>
      </tr>
      <tr>
        <td height="270" align="center"><a href="designer.php?type=blackgelresinacrylic#numberplates"><img src="img/ourproducts/black_gel_resin_small.jpg" width="450" height="223" /></a></td>
      </tr>
      <tr>
        <td height="270" align="center"><a href="designer.php?type=carbongelresinacrylic#numberplates"><img src="img/ourproducts/carbon_gel_resin_small.jpg" width="450" height="223" /></a></td>
      </tr>
      <tr>
        <td height="270" align="center"><a href="designer.php?type=laser4D#numberplates"><img src="img/ourproducts/laser_4d_small.jpg" width="450" height="223" /></a></td>
      </tr>
      <tr>
        <td height="270" align="center"><a href="designer.php?type=standardmetal#numberplates"><img src="img/ourproducts/standard_metal_small.jpg" width="450" height="223" /></a></td>
      </tr>
      <tr>
        <td height="270" align="center"><a href="designer.php?type=vintagemetal#numberplates"><img src="img/ourproducts/vintage_metal_small.jpg" width="450" height="223" /></a></td>
      </tr>
          </table></td>
        </tr>
        <tr>
          <td colspan="2" align="center" valign="top"><img src="img/numberplate_warning.jpg" width="965" height="199" /></td>
        </tr>
      </table>
      </td>
  </tr>
  <tr>
    <td height="258" background="img/mid.png" class="style1">
 
<div align="center" w3-include-html="include_pages/footer.html"></div>
<script>
includeHTML();
</script>

 </div></td>
  </tr>
</table>

</body>
</html>
