
<table width="100%" border="0" cellpadding="5">
  <tr>
    <td align="center" valign="middle">
      <span class="maintext"><a href="terms_and_conditions.html">Terms and Conditions</a>
      -
      <a href="privacy_policy.html">Privacy Policy</a>
      <br>
      <br>
      <strong>Copyright ©  Plates for Cars Limited 2020. </strong>All rights Reserved. <br>
      <br>
    Registered in the Republic of Ireland: <strong>502649</strong>. VAT Number: <strong>IE9799538L</strong><br>
    <br>
      </span></td>
  </tr>
  <tr>
    <td align="center" valign="middle">
<div align="center" class="maintext">
<div align="center">
<a href="index.html" >Home</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="designer.php#numberplates" >Design Online</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="our_products.html" >Our Products</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="accessories.html" >Accessories &amp; Fixings</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="delivery.html" >Delivery Options</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="fitting.html" >Fitting Instructions</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="faq.html" >FAQ</a>
<br><br>
<a href="https://www.trustedshops.co.uk/buyerrating/info_XF3DF55F21F1CFE97363B0A8E8F590C27.html" target="_blank" >Customer Reviews</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="why_choose_us.html">Why Choose us?</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="behind_the_scenes.html" >Behind the Scenes</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="blog.html" >Blog</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="trade.html" >Trade Account</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="contact_us.html" >Contact us</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="about_us.html" >About us</a></div>
</div>
    </td>
  </tr>
  <tr>
    <td width="47%" height="144" align="center" valign="middle">

<%= image_tag("footer_logos.jpg", width: 980,height: 124,border:0 ) %>

    </td>

  </tr>
</table>
