
<table width="999" height="100" border="0" cellpadding="0" cellspacing="0" background="img/links2layer.jpg">
  <tr>
    <td height="70">
<div align="center" class="nav">
<div align="center" class="whitelinks">
<a href="index.html" class="nav">Home</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="designer.php#numberplates" class="nav">Design Online</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="our_products.html" class="nav">Our Products</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="accessories.html" class="nav">Accessories &amp; Fixings</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="delivery.html" class="nav">Delivery Options</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="fitting.html" class="nav">Fitting Instructions</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="faq.html" class="nav">FAQ</a>
<br>
<a href="https://www.trustedshops.co.uk/buyerrating/info_XF3DF55F21F1CFE97363B0A8E8F590C27.html" target="_blank" class="nav">Customer Reviews</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="why_choose_us.html" class="nav">Why Choose us?</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="behind_the_scenes.html" class="nav">Behind the Scenes</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="blog.html" class="nav">Blog</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="trade.html" class="nav">Trade Account</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="contact_us.html" class="nav">Contact us</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="about_us.html" class="nav">About us</a>
</div>
</div>
    </td>
  </tr>
  <tr>
    <td align="center" height="30" bgcolor="#FFFF00">
     <span class="heading2">Receive your order before Christmas - Order by 2pm Wednesday 23rd December</span>
    </td>
  </tr>
</table>
